<div id="experiencia">
  <div id="skill">
    <h2>Hard & Soft Skills</h2>
  </div>
  <div *ngIf="isUserAdmin()">
    <div id="creardiv">
      <button  id="crear" type="button" class="btn btn-primary" (click)="showNueva()">Crear nueva Skill</button>
    </div>
  <div #nuevaexp style="display: none;" id="textexp" class="row">
        <div class="col-10" id="infoexp1" >
            <div  id="empresa">
              <label for="empresa">Ingrese el nombre de la Skill</label>
              <input #empre type="text" name="empresa" #urlfoto>
            </div>
            <div  id="descripcion">
              <label for="descripcion">Ingrese el amount</label>
              <input #desc type="text" name="descripcion" #urlfoto>
            </div>
        </div>
      <div class="col-2" id="buttons">
          <button type="button" class="btn btn-success" (click)="crearSkill(); reloadPage()">Crear Skill</button>
          <button type="button" class="btn btn-danger" (click)="cancelNueva()">Cancelar</button>
      </div>
  </div>
</div>
  <div class="bars">
    <app-bars></app-bars>
  </div>
</div>
