<header id="head">
    <div class="container-fluid" id="banne">
        <div id="banner" class="row">
            <div id="perf" class="col-lg-6">
                <img class="img-fluid" src="../assets/img/Perfil.png" alt="yo">
            </div>
            <div id="info" class="col-lg-6">
                <h2>Acerca de...</h2>
                <h3 #reemplazable id="reemplazable" class="reemplazable">Mi nombre es Facundo Facundo Rodrigues
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, sequi tenetur ullam veritatis eos voluptate 
                </h3>
                <i id="editicon" class='bx bx-edit-alt' (click)="showModifi()"></i>
                <div #modifi id="modifi" style="display: none;">
                    <input #edit id="edit-acerca" type="text">
                    <button type="button" class="btn btn-primary" (click)="changeContent()">Modificar</button>
                    <button type="button" class="btn btn-danger" (click)="cerrarInput()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</header>