<div id="experiencia">
  <div id="pro">
    <h2>Proyectos</h2>
  </div>
  <div id="propo" class="row">
    <div id="pros" class="col-xl-6">
      <div class="card">
        <img
          class="card-img-top"
          src="../assets/img/umo.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">UMO Store</h5>
          <p class="card-text">Pagina Web Responsive para un restaurante</p>
          <a href="#" class="btn btn-primary">Ir al sitio</a>
        </div>
      </div>
    </div>
    <div id="pros" class="col-xl-6">
      <div class="card">
        <img
          class="card-img-top"
          src="../assets/img/umo.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">UMO Store</h5>
          <p class="card-text">Pagina Web Responsive para un restaurante</p>
          <a href="#" class="btn btn-primary">Ir al sitio</a>
        </div>
      </div>
    </div>
  </div>
</div>
