<div id="experiencia">
    <div id="edu">
        <h2>Educacion</h2>
    </div>
    <div id="textexp" class="container-fluid">
        <div class="row">
            <div class="col" id="logomogas">
                <img src="../assets/img/mogas.png" alt="">
            </div>
            <div class="col" id="textcard">
                <h2>Instituto Maria Ana Mogas</h2>
                <p>Educacion Primaria y Secundaria</p>
            </div>
        </div>
    </div>
    <div id="textexp" class="container-fluid">
        <div class="row">
            <div class="col" id="logomogas">
                <img src="../assets/img/mogas.png" alt="">
            </div>
            <div class="col" id="textcard">
                <h2>Instituto Maria Ana Mogas</h2>
                <p>Educacion Primaria y Secundaria</p>
            </div>
        </div>
    </div>
</div>
