<div id="experiencia">
    <div id="exp">
        <h2>Experiencia</h2>
    </div>
    <div id="textexp" class="container-fluid">
        <div class="row">
            <div class="col" id="logoentre">
                <img src="../assets/img/logo.png" alt="">
            </div>
            <div class="col" id="textcard">
                <div id="infoexp1">
                    <h2>Entre diosas y reinas</h2>
                    <p>Trabajo de diseño web para pagina de ventas</p>
                </div>
                <i id="editicon" style="scale: 1.2;" class='bx bx-edit-alt' onclick="showModifi()"></i>
                <div style="display: none;" id="modifi">
                    <input id="edit-acerca" type="text">
                    <button type="button" class="btn btn-primary" onclick="enviarParrafo()">Modificar</button>
                    <button type="button" class="btn btn-danger" onclick="cerrarInput()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="textexp" class="container-fluid">
        <div class="row">
            <div class="col" id="logoentre">
                <img src="../assets/img/logo.png" alt="">
            </div>
            <div class="col" id="textcard">
                <h2>Entre diosas y reinas</h2>
                <p>Trabajo de diseño web para pagina de ventas</p>
            </div>
        </div>
    </div>
            <div id="textexp" class="container-fluid">
        <div class="row">
            <div class="col" id="logoentre">
                <img src="../assets/img/logo.png" alt="">
            </div>
            <div class="col" id="textcard">
                <h2>Entre diosas y reinas</h2>
                <p>Trabajo de diseño web para pagina de ventas</p>
            </div>
        </div>
    </div>
</div>
