.items {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
app-expitem {
  width: 90%;
}

#creardiv{
  width: 100vw;
  display: flex;
}

#crear{
  margin-left: 110px;
  margin-bottom: 50px;
}

@media screen and (max-width: 445px){
  #creardiv {
    justify-content: center;
    align-items: center;
  }
  #crear{
    margin-left: 0px;
  }
}
  

